@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*Mixins*/
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-arrow {
  z-index: 5;
}

@font-face {
  font-family: 'DeerPrudence';
  src: url("../fonts/dearprudence-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/dearprudence-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/dearprudence-regular-webfont.woff2") format("woff2"), url("../fonts/dearprudence-regular-webfont.woff") format("woff"), url("../fonts/dearprudence-regular-webfont.ttf") format("truetype"), url("../fonts/dearprudence-regular-webfont.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: 'Bali';
  src: url("../fonts/Bali Script.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Bali Script.eot?#iefix") format("embedded-opentype"), url("../fonts/Bali Script.woff2") format("woff2"), url("../fonts/Bali Script.woff") format("woff"), url("../fonts/Bali Script.ttf") format("truetype"), url("../fonts/Bali Script.svg#svgFontName") format("svg");
  /* Legacy iOS */
}
html, body {
  min-height: 100%;
}

body {
  font-family: "Bree Serif", serif;
  font-size: 15px;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background: -moz-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
  background: -webkit-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
  background: -o-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
  background: -ms-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
  background: linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
}

.content {
  padding: 50px 0 75px;
}
@media only screen and (max-width: 767px) {
  .content {
    padding: 20px 0 40px;
  }
}

.container {
  max-width: 970px;
}

a:focus {
  outline: none !important;
}

.btn {
  padding: 13px 43px;
  outline: none;
  font-size: 18px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
.btn:focus, .btn:active {
  outline: none !important;
}
.btn-white {
  background: #ffffff;
  color: #db567b;
  border-color: #db567b;
}
.btn-white:focus {
  color: #db567b;
}
.btn-white:hover {
  color: #ffffff;
  background: rgba(219, 86, 123, 0.5);
}
.btn-white:active {
  color: #ffffff;
  background: rgba(219, 86, 123, 0.8);
}
.btn-red {
  background: #ea6060;
  color: #ffffff;
}
.btn-red:hover, .btn-red:focus {
  color: #ffffff;
  background: #e43333;
}
.btn-red:active {
  background: #b31818;
}

.header {
  padding-top: 80px;
  overflow-x: hidden;
}
@media only screen and (max-width: 991px) {
  .header {
    padding-top: 40px;
  }
}
@media only screen and (max-width: 767px) {
  .header {
    padding-top: 0;
  }
}
.header-top {
  background: #ffffff;
}
.header-top .hamburger-holder {
  display: none;
}
.header-top .hamburger-holder:after {
  content: "";
  display: table;
  clear: both;
}
@media only screen and (max-width: 767px) {
  .header-top .hamburger-holder {
    display: block;
  }
}
.header-top-hamburger {
  background: #ffffff;
  float: left;
  padding: 16px 30px;
  cursor: pointer;
  border: 1px solid #95245b;
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
.header-top-hamburger span {
  display: block;
  background: #95245b;
  width: 25px;
  height: 4px;
  margin-bottom: 4px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
}
.header-top-hamburger span:last-child {
  margin-bottom: 0;
}
.header-top-hamburger.collapsed {
  background: #95245b;
  border-color: transparent;
}
.header-top-hamburger.collapsed span {
  background: #ffffff;
}
.header-top-nav {
  text-align: center;
}
.header-top-nav li {
  display: inline-block;
  vertical-align: middle;
}
.header-top-nav li a {
  display: block;
  padding: 21px 12px;
  font-size: 18px;
  color: #475055;
  text-decoration: none;
}
.header-top-nav li a:hover {
  color: #95245b;
}
.header-top-nav li:last-child {
  border-right: 1px solid #dde2e4;
}
.header-top-nav li.active a {
  color: #95245b;
}
.header-top-nav li.item-large {
  border-left: 1px solid #dde2e4;
}
.header-top-nav li.item-large a {
  font-size: 30px;
  padding: 15px 14px;
}
@media only screen and (max-width: 991px) {
  .header-top-nav li a {
    padding: 15px 10px;
    font-size: 16px;
  }
  .header-top-nav li.item-large {
    width: 35%;
    border: none;
  }
  .header-top-nav li.item-large a {
    font-size: 25px;
    padding: 0 12px 12px;
  }
}
@media only screen and (max-width: 767px) {
  .header-top-nav {
    display: none;
  }
  .header-top-nav li {
    display: block;
  }
  .header-top-nav li a {
    border-top: 1px solid #dde2e4;
  }
  .header-top-nav li a:hover {
    background: rgba(221, 226, 228, 0.2);
  }
  .header-top-nav li.item-large {
    width: 100%;
  }
  .header-top-nav li.item-large a {
    font-size: 25px;
    padding: 15px 10px;
  }
}
@media only screen and (max-width: 480px) {
  .header-slider .container {
    height: 100%;
  }
}
.header-slider-item {
  height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media only screen and (max-width: 767px) {
  .header-slider-item {
    height: 300px;
  }
}
.header-slider .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 32px;
  height: 52px;
  border: none;
  outline: none;
  text-indent: -99999px;
  opacity: .8;
}
.header-slider .slick-arrow:hover {
  opacity: 1;
}
.header-slider .slick-prev {
  left: -2px;
  background: url(../img/slider-arrow-left.png) no-repeat center, #ffffff;
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  -ms-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.header-slider .slick-next {
  right: -2px;
  background: url(../img/slider-arrow-right.png) no-repeat center, #ffffff;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.header-description {
  padding-top: 38px;
  text-align: center;
  width: 400px;
}
.header-description img {
  max-width: 100%;
}
.header-description .title {
  margin: 15px 0;
  font-family: "Bali";
  font-size: 30px;
  color: #db567b;
}
@media only screen and (max-width: 991px) {
  .header-description {
    padding-top: 50px;
    width: 300px;
  }
}
@media only screen and (max-width: 767px) {
  .header-description {
    padding-top: 10px;
  }
  .header-description img {
    width: 200px;
    display: inline-block;
  }
  .header-description .title {
    margin: 10px 0;
  }
}
@media only screen and (max-width: 480px) {
  .header-description {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
  }
}
.header-bottom-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
}
.header-bottom-nav li {
  flex-grow: 1;
  text-align: center;
  margin-left: -1px;
}
.header-bottom-nav li a {
  display: table;
  width: 100%;
  height: 65px;
  font-size: 24px;
  color: #ffffff;
  border: none;
}
.header-bottom-nav li a span {
  display: table-cell;
  vertical-align: middle;
}
@media only screen and (max-width: 991px) {
  .header-bottom-nav li {
    flex-grow: 0;
  }
  .header-bottom-nav li a {
    padding: 0 10px;
    font-size: 20px;
  }
}
.header-bottom-nav li.lines-3 a {
  font-size: 16px;
}
.header-bottom-nav li.color-1 a {
  background: #95245b;
}
.header-bottom-nav li.color-2 a {
  background: #db567b;
}
.header-bottom-nav li.color-3 a {
  background: #ffabb3;
}

.articles-content {
  margin-bottom: 40px;
}
@media only screen and (max-width: 767px) {
  .articles-content {
    margin-bottom: 0;
  }
}
.articles-item {
  display: table;
  width: 100%;
  background: #ffffff;
  margin-bottom: 15px;
}
.articles-item:after {
  content: "";
  display: table;
  clear: both;
}
.articles-item-image {
  width: 300px;
  display: table-cell;
  vertical-align: top;
}
.articles-item-image img {
  display: block;
}
.articles-item-inner {
  width: calc(100% - 300px);
  display: table-cell;
  vertical-align: middle;
  padding: 20px 30px 20px 70px;
}
.articles-item-inner p {
  line-height: 1.4;
}
.articles-item-inner a {
  display: inline-block;
  color: #ea6060;
}
@media only screen and (max-width: 767px) {
  .articles-item {
    display: block;
  }
  .articles-item-image, .articles-item-inner {
    display: block;
    width: 100%;
  }
  .articles-item-image img {
    margin: auto;
    max-width: 100%;
  }
  .articles-item-inner {
    padding: 20px;
  }
}

.trending-content {
  position: relative;
  margin-bottom: 75px;
}
@media only screen and (max-width: 991px) {
  .trending-content {
    margin-bottom: 30px;
  }
}
@media only screen and (max-width: 767px) {
  .trending-content {
    margin-bottom: 15px;
  }
}
.trending-content .trending-now {
  position: absolute;
  top: -70px;
  right: -70px;
  width: 252px;
  height: 100px;
  background: url(../img/trending-now.png) no-repeat;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
  z-index: 5;
  padding-top: 32px;
  padding-left: 15px;
}
@media only screen and (max-width: 991px) {
  .trending-content .trending-now {
    right: 0;
  }
}
@media only screen and (max-width: 480px) {
  .trending-content .trending-now {
    display: none;
  }
}
.trending-item {
  background: #ffffff;
  padding: 25px 25px 25px 45px;
}
.trending-item .title {
  min-height: 82px;
  font-size: 30px;
  margin-bottom: 15px;
}
.trending-item .title span {
  display: block;
  font-size: 18px;
  color: #010101;
  margin-top: 3px;
}
.trending-item .title-red {
  color: #b40000;
}
.trending-item .title-blue {
  color: #36a4b4;
}
.trending-item p {
  line-height: 1.4;
  color: #475055;
}
.trending-item a {
  display: inline-block;
  color: #ea6060;
}
@media only screen and (max-width: 767px) {
  .trending-item {
    margin-bottom: 15px;
    padding: 20px;
  }
  .trending-item .title {
    min-height: auto;
  }
}

.consultation-content {
  position: relative;
  margin-bottom: 80px;
}
@media only screen and (max-width: 767px) {
  .consultation-content {
    margin-bottom: 20px;
  }
}
.consultation-logo {
  position: relative;
}
.consultation-logo img {
  margin-left: -85px;
}
.consultation-logo .title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  font-size: 40px;
  color: #95245b;
  margin-top: -14px;
  margin-left: -5px;
}
@media only screen and (max-width: 991px) {
  .consultation-logo {
    text-align: center;
  }
  .consultation-logo img {
    margin-left: 0;
    display: inline-block;
  }
}
@media only screen and (max-width: 767px) {
  .consultation-logo img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .consultation-logo .title {
    font-size: 30px;
    margin-top: -12px;
  }
}
.consultation-description {
  padding: 20px 15px 0 10px;
  font-size: 30px;
  font-family: "DeerPrudence";
  text-align: center;
  line-height: 1.2;
}
.consultation-image {
  position: absolute;
  top: -40px;
  right: -70px;
}
@media only screen and (max-width: 991px) {
  .consultation-image {
    top: auto;
    bottom: -30px;
    right: 0;
  }
}
@media only screen and (max-width: 767px) {
  .consultation-image {
    display: none;
  }
}

.carousel-items {
  padding: 0 40px;
}
.carousel-items .slick-arrow {
  position: absolute;
  top: 50%;
  margin-top: -45px;
  width: 90px;
  height: 90px;
  border: none;
  outline: none;
  text-indent: -99999px;
  opacity: .8;
  background-color: transparent;
  background-repeat: no-repeat;
}
.carousel-items .slick-arrow:hover {
  opacity: 1;
}
.carousel-items .slick-prev {
  left: -55px;
  background-image: url(../img/arrow-left.png);
}
.carousel-items .slick-next {
  right: -55px;
  background-image: url(../img/arrow-right.png);
}
@media only screen and (max-width: 991px) {
  .carousel-items {
    padding: 0 60px;
  }
  .carousel-items .slick-arrow {
    width: 60px;
    height: 60px;
    margin-top: -30px;
    background-size: 60px 60px;
  }
  .carousel-items .slick-prev {
    left: -10px;
  }
  .carousel-items .slick-next {
    right: -10px;
  }
}
@media only screen and (max-width: 767px) {
  .carousel-items {
    padding: 0 35px;
  }
  .carousel-items .slick-arrow {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    background-size: 40px 40px;
  }
  .carousel-items .slick-prev {
    left: -10px;
  }
  .carousel-items .slick-next {
    right: -10px;
  }
}
.carousel-content {
  position: relative;
}
.carousel-dialog {
  position: absolute;
  top: -115px;
  left: -70px;
  z-index: 5;
}
@media only screen and (max-width: 991px) {
  .carousel-dialog {
    top: -70px;
  }
}
@media only screen and (max-width: 991px) {
  .carousel-dialog {
    display: none;
  }
}
.carousel-slide {
  outline: none;
}
.carousel-item {
  padding: 0 8px;
}
.carousel-item-content {
  padding: 20px;
}
.carousel-item-content.orange {
  background: #ea6060;
}
.carousel-item-content.red {
  background: #95245b;
}
.carousel-item-content.gray {
  background: #b496a6;
}
.carousel-item p {
  font-size: 22px;
  color: #ffffff;
}
.carousel-item .more {
  text-align: right;
  margin-top: 20px;
}
.carousel-item .more a {
  display: inline-block;
  outline: none;
}
.carousel-item .more a:hover {
  opacity: .8;
}
.carousel-item .more img {
  width: 35px;
  height: 35px;
}
@media only screen and (max-width: 767px) {
  .carousel-item p {
    font-size: 18px;
  }
}
.carousel-image img {
  max-width: 100%;
}
@media only screen and (max-width: 767px) {
  .carousel-image {
    text-align: center;
    margin-bottom: -2px;
  }
  .carousel-image img {
    display: inline-block;
  }
}

#askModal .modal-dialog {
  width: 300px;
}
#askModal .modal-content {
  border-radius: 0;
}
#askModal form {
  padding: 20px;
}
#askModal form .title {
  font-size: 25px;
  color: #475055;
  margin-bottom: 18px;
}
#askModal form input,
#askModal form textarea {
  font-size: 16px;
  color: #475055;
  margin-bottom: 18px;
  width: 100%;
  line-height: 1.1;
  border: 1px solid #dde2e4;
}
#askModal form input:focus,
#askModal form textarea:focus {
  outline: none;
  border-color: #4bc7c7;
}
#askModal form input {
  height: 40px;
  padding: 0 20px;
}
#askModal form textarea {
  padding: 10px 20px;
  height: 110px;
  resize: none;
}
#askModal form .btn {
  padding: 8px 15px;
}
