@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

@font-face {
  font-family: 'DeerPrudence';
  src: url('../fonts/dearprudence-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/dearprudence-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/dearprudence-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/dearprudence-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/dearprudence-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/dearprudence-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Bali';
  src: url('../fonts/Bali Script.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Bali Script.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bali Script.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Bali Script.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Bali Script.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Bali Script.svg#svgFontName') format('svg'); /* Legacy iOS */
}

$black: #000000;
$white: #ffffff;

$desktop: "only screen and (max-width : 1199px)";
$tablet: "only screen and (max-width : 991px)";
$mobile: "only screen and (max-width : 767px)";

$main-font-family: 'Bree Serif', serif;
$deer-font-family: 'DeerPrudence';
$bali-font-family: 'Bali';
$main-font-size: 15px;

html, body {
	min-height: 100%;
}

body {
	font-family: $main-font-family;
  font-size: $main-font-size;
	
	overflow-x: hidden;
	
	background-repeat: no-repeat;
	background: -moz-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
	background: -webkit-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
	background: -o-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
	background: -ms-linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
	background: linear-gradient(top, #f5e8ec 0%, #f7eaec 50%, #f7cfe7 100%);
}

.content {
	padding: 50px 0 75px;
	
	@media #{$mobile} {
		padding: 20px 0 40px;
	}
}

.container {
	max-width: 970px;
}

a:focus {
	outline: none !important;
}

.btn {
	padding: 13px 43px;
	outline: none;
	font-size: 18px;
	text-transform: uppercase;
	@include transition (all, 0.3s, linear);
	@include border-radius(3px);
	
	&:focus,
	&:active {
		outline: none !important;
	}
	
	&-white {
		background: $white;
		color: #db567b;
		border-color: #db567b;

		&:focus {
			color: #db567b;
		}
		
		&:hover {
			color: $white;
			background: rgba(#db567b, .5);
		}
		
		&:active {
			color: $white;
			background: rgba(#db567b, .8);
		}
	}
	
	&-red {
		background: #ea6060;
		color: $white;
		
		&:hover,
		&:focus {
			color: $white;
			background: darken(#ea6060, 10%);
		}
		
		&:active {
			background: darken(#ea6060, 25%);
		}
	}
}

.header {
	padding-top: 80px;
	overflow-x: hidden;
	
	@media #{$tablet} {
		padding-top: 40px;
	}

	@media #{$mobile} {
		padding-top: 0;
	}

	&-top {
		background: $white;
		
		.hamburger-holder {
			display: none;
			@include clearfix;

			@media #{$mobile} {
				display: block;
			}
		}
		
		&-hamburger {
			background: $white;
			float: left;
			padding: 16px 30px;
			cursor: pointer;
			border: 1px solid #95245b;
			@include transition (all, 0.4s, linear);
			
			span {
				display: block;
				background: #95245b;
				width: 25px;
				height: 4px;
				margin-bottom: 4px;
				@include border-radius(50px);
				
				&:last-child {
					margin-bottom: 0;
				}
			}
			
			&.collapsed {
				background: #95245b;
				border-color: transparent;
				
				span {
					background: $white;
				}
			}
		}
		
		&-nav {
			text-align: center;
			
			li {
				display: inline-block;
				vertical-align: middle;
				
				a {
					display: block;
					padding: 21px 12px;
					font-size: 18px;
					color: #475055;
					text-decoration: none;
					
					&:hover {
						color: #95245b;
					}
				}
				
				&:last-child {
					border-right: 1px solid #dde2e4;
				}
				
				&.active {
					a {
						color: #95245b;
					}
				}
				
				&.item-large {
					border-left: 1px solid #dde2e4;
					
					a {
						font-size: 30px;
						padding: 15px 14px;
					}
				}
			}
			
			@media #{$tablet} {
				li {
					a {
						padding: 15px 10px;
						font-size: 16px;
					}

					&.item-large {
						width: 35%;
						border: none;
						a {
							font-size: 25px;
							padding: 0 12px 12px;
						}
					}
				}
			}
		
			@media #{$mobile} {
				display: none;
				
				li {
					display: block;
					
					a {
						border-top: 1px solid #dde2e4;
						
						&:hover {
							background: rgba(#dde2e4, .2);
						}
					}
					
					&.item-large {
						width: 100%;
						a {
							font-size: 25px;
							padding: 15px 10px;
						}
					}
				}
			}
		}
	}
	
	&-slider {
		@media only screen and (max-width : 480px) {
			.container {
				height: 100%;
			}
		}
		
		&-item {
			height: 450px;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			
			@media #{$mobile} {
				height: 300px;
			}
		}
		
		.slick-arrow {
			position: absolute;
			top: 50%;
			margin-top: -25px;
			width: 32px;
			height: 52px;
			border: none;
			outline: none;
			text-indent: -99999px;
			opacity: .8;

			&:hover {
				opacity: 1;
			}
		}
		.slick-prev {
			left: -2px;
			background: url(../img/slider-arrow-left.png) no-repeat center, $white;
			@include border-radius (0 3px 3px 0);
		}
		.slick-next {
			right: -2px;
			background: url(../img/slider-arrow-right.png) no-repeat center, $white;
			@include border-radius (3px 0 0 3px);
		}
	}
	
	&-description {
		padding-top: 38px;
		text-align: center;
		width: 400px;
		
		img {
			max-width: 100%;
		}
		
		.title {
			margin: 15px 0;
			font-family: $bali-font-family;
			font-size: 30px;
			color: #db567b;
		}
		
		@media #{$tablet} {
			padding-top: 50px;
			width: 300px;
		}

		@media #{$mobile} {
			padding-top: 10px;
			
			img {
				width: 200px;
				display: inline-block;
			}
			
			.title {
				margin: 10px 0;
			}
		}

		@media only screen and (max-width : 480px) {
			width: 100%;
			height: 100%;
			background: rgba($white, .6);
		}
	}
	
	&-bottom {
		&-nav {
			display: -webkit-box;
			display: -moz-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
			justify-content: center;
			
			li {
				flex-grow: 1;
				text-align: center;
				margin-left: -1px;
			
				a {
					display: table;
					width: 100%;
					height: 65px;
					font-size: 24px;
					color: $white;
					border: none;
					
					span {
						display: table-cell;
						vertical-align: middle;
					}
				}
				
				@media #{$tablet} {
					flex-grow: 0;
					a {
						padding: 0 10px;
						font-size: 20px;
					}
				}
				
				&.lines-3 {
					a {
						font-size: 16px;
					}
				}
				
				&.color-1 {
					a {
						background: #95245b;
					}
				}
				
				&.color-2 {
					a {
						background: #db567b;
					}
				}

				&.color-3 {
					a {
						background: #ffabb3;
					}
				}
			}
		}
	}
}

.articles {
	&-content {
		margin-bottom: 40px;
		
		@media #{$mobile} {
			margin-bottom: 0;
	}
	}
	
	&-item {
		display: table;
		width: 100%;
		background: $white;
		margin-bottom: 15px;
		@include clearfix;
		
		&-image {
			width: 300px;
			display: table-cell;
			vertical-align: top;
			
			img {
				display: block;
			}
		}
		
		&-inner {
			width: calc(100% - 300px);
			display: table-cell;
			vertical-align: middle;
			padding: 20px 30px 20px 70px;
			
			p {
				line-height: 1.4;
			}
			
			a {
				display: inline-block;
				color: #ea6060;
			}
		}
		
		@media #{$mobile} {
			display: block;
			
			&-image,
			&-inner {
				display: block;
				width: 100%;
			}
			
			&-image {
				img {
					margin: auto;
					max-width: 100%;
				}
			}
			
			&-inner {
				padding: 20px;
			}
		}
	}
}

.trending {
	&-content {
		position: relative;
		margin-bottom: 75px;
		
		@media #{$tablet} {
			margin-bottom: 30px;
	}
		
		@media #{$mobile} {
			margin-bottom: 15px;
		}
		
		.trending-now {
			position: absolute;
			top: -70px;
			right: -70px;
			width: 252px;
			height: 100px;
			background: url(../img/trending-now.png) no-repeat;
			text-align: center;
			font-size: 28px;
			color: $white;
			z-index: 5;
			padding-top: 32px;
			padding-left: 15px;
			
			@media #{$tablet} {
				right: 0;
			}
		
			@media only screen and (max-width : 480px) {
				display: none;
			}
		}
	}
	
	&-item {
		background: $white;
		padding: 25px 25px 25px 45px;
		
		.title {
			min-height: 82px;
			font-size: 30px;
			margin-bottom: 15px;
			
			span {
				display: block;
				font-size: 18px;
				color: #010101;
				margin-top: 3px;
			}
			
			&-red {
				color: #b40000;
			}
			
			&-blue {
				color: #36a4b4;
			}
		}
		
		p {
			line-height: 1.4;
			color: #475055;
		}
		
		a {
			display: inline-block;
			color: #ea6060;
		}
		
		@media #{$mobile} {
			margin-bottom: 15px;
			padding: 20px;
			
			.title {
				min-height: auto;
			}
		}
	}
}

.consultation {
	&-content {
		position: relative;
		margin-bottom: 80px;
		
		@media #{$mobile} {
			margin-bottom: 20px;
	}
	}
	
	&-logo {
		position: relative;
		
		img {
			margin-left: -85px;
		}
		
		.title {
			width: 100%;
			position: absolute;
			top: 50%;
			left: 0;
			text-align: center;
			font-size: 40px;
			color: #95245b;
			margin-top: -14px;
			margin-left: -5px;
		}
		
		@media #{$tablet} {
			text-align: center;
				
			img {
				margin-left: 0;
				display: inline-block;
			}
		}
	
		@media #{$mobile} {			
			img {
				max-width: 100%;
			}
		}

		@media only screen and (max-width : 480px) {
			.title {
				font-size: 30px;
				margin-top: -12px;
			}
		}
	}
	
	&-description {
		padding: 20px 15px 0 10px;
		font-size: 30px;
		font-family: $deer-font-family;
		text-align: center;
		line-height: 1.2;
	}
	
	&-image {
		position: absolute;
		top: -40px;
		right: -70px;
		
		@media #{$tablet} {
			top: auto;
			bottom: -30px;
			right: 0;
		}

		@media #{$mobile} {
			display: none;
		}
	}
}

.carousel{
	&-items {
		padding: 0 40px;
		
		.slick-arrow {
			position: absolute;
			top: 50%;
			margin-top: -45px;
			width: 90px;
			height: 90px;
			border: none;
			outline: none;
			text-indent: -99999px;
			opacity: .8;
			background-color: transparent;
			background-repeat: no-repeat;

			&:hover {
				opacity: 1;
			}
		}
		.slick-prev {
			left: -55px;
			background-image: url(../img/arrow-left.png);
		}
		.slick-next {
			right: -55px;
			background-image: url(../img/arrow-right.png);
		}
		
		@media #{$tablet} {
			padding: 0 60px;
			
			.slick-arrow {
				width: 60px;
				height: 60px;
				margin-top: -30px;
				background-size: 60px 60px;
			}
			
			.slick-prev {
				left: -10px;
			}
			
			.slick-next {
				right: -10px;
			}
		}
	
		@media #{$mobile} {
			padding: 0 35px;
			
			.slick-arrow {
				width: 40px;
				height: 40px;
				margin-top: -20px;
				background-size: 40px 40px;
			}
			
			.slick-prev {
				left: -10px;
			}
			
			.slick-next {
				right: -10px;
			}
		}
	}
	
	&-content {
		position: relative;
	}
	
	&-dialog {
		position: absolute;
		top: -115px;
		left: -70px;
		z-index: 5;
		
		@media #{$tablet} {
			top: -70px;
		}

		@media #{$tablet} {
			display: none;
		}
	}
	
	&-slide {
		outline: none;
	}
	
	&-item {
		padding: 0 8px;
		
		&-content {
			padding: 20px;

			&.orange {
				background: #ea6060;
			}
			
			&.red {
				background: #95245b;
			}
			
			&.gray {
				background: #b496a6;
			}
		}
		
		p {
			font-size: 22px;
			color: $white;
		}
		
		.more {
			text-align: right;
			margin-top: 20px;
			
			a {
				display: inline-block;
				outline: none;
				
				&:hover {
					opacity: .8;
				}
			}
			
			img {
				width: 35px;
				height: 35px;
			}
		}
		
		@media #{$mobile} {
			p {
				font-size: 18px;
			}
		}
	}
	
	&-image {
		img {
			max-width: 100%;
		}
		
		@media #{$mobile} {
			text-align: center;
			margin-bottom: -2px;
			
			img {
				display: inline-block;
			}
		}
	}
}

#askModal {
	.modal-dialog {
		width: 300px;
	}
	
	.modal-content {
		border-radius: 0;
	}
	
	form {
		padding: 20px;
		
		.title {
			font-size: 25px;
			color: #475055;
			margin-bottom: 18px;
		}
		
		input,
		textarea {
			font-size: 16px;
			color: #475055;
			margin-bottom: 18px;
			width: 100%;
			line-height: 1.1;
			border: 1px solid #dde2e4;
			
			&:focus {
				outline: none;
				border-color: #4bc7c7;
			}
		}
		
		input {
			height: 40px;
			padding: 0 20px;
		}
		
		textarea {
			padding: 10px 20px;
			height: 110px;
			resize: none;
		}
		
		.btn {
			padding: 8px 15px;
		}
	}
}